<%- include("header"); -%>
<div class="container">
<h1 class="mt-5"><%= product.name %> </h1>
<ul>
  <li>Price:$ <%= product.price %> </li>
  <li>Category: <%= product.category %></li>
</ul>
<a class="btn btn-primary" href="/" role="button">All Products</a>
<a class="btn btn-primary" href="/products/<%= product._id %>/edit" role="button">Edit Product</a>
<form action="/products/<%= product._id %>?_method=DELETE" method="post">
  <button class="btn btn-danger mt-2">Delete</button>
</form>

</div>
<%- include("footer"); -%>