<%- include("header"); -%>
<div class="container">
<h1 class="mt-5"><%= product.name %> </h1>
<ul>
  <li>Price:$ <%= product.price %> </li>
  <li>Category: <%= product.category %></li>
</ul>
<a class="btn btn-primary" href="/" role="button">All Products</a>
</div>
<%- include("footer"); -%>